<!DOCTYPE html>

<html>

<head>
    <title>Request Header Parser</title>

    <link rel="shortcut icon"
        href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
        type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/466a0b8fee.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <h1>Request Header Parser Microservice</h1>
        <hr>
        <section class="container">
            <h2>Usage:</h2>
            <p>
                <a href="/api/whoami">[origin]<b>/api/whoami</b> <i class="fa-solid fa-square-arrow-up-right"></i></a>
            </p>

            <h2>Output:</h2>
            <p>
                <code>
                    <span class="line">
                        <span class="bracket">{</span>
                    </span>
                    <span class="line">
                        <span class="key">"ipaddress"</span>: <span class="value">"::ffff:159.20.14.100"</span>,
                    </span>
                    <span class="line">
                        <span class="key">"language"</span>: <span class="value">"en-US,en;q=0.5"</span>,
                    </span>
                    <span class="line">
                        <span class="key">"software"</span>: <span class="value">"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"</span>
                    </span>
                    <span class="line">
                        <span class="bracket">}</span>
                    </span>
                </code>
            </p>
        </section>
        <footer>
            <p>
                Developed by <a href="#">Vicente Ferrer</a>
            </p>
        </footer>
    </main>
</body>

</html>